<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
            <h1>{{title}}</h1>
            <p>Disfruta dels animals</p>
            <p>
               <a class="boto btn-primary btn-lg" role="button" [routerLink]="['/animals']">
                   Veure animals
               </a>
               <a class="boto btn-success btn-lg" role="button" [routerLink]="['/keepers']">
                    Veure cuidadors
               </a>
               <a class="boto btn-warning btn-lg" role="button" [routerLink]="['/contact']">
                    contacta
               </a>
            </p>

    </div>
</div>