<a class="boton_acitvo btn btn-success"
    [@marcar]="status" (click)="CambiarEstado(status)">
    <span *ngIf="status == 'inactive'">Boton inactive</span>
    <span *ngIf="status == 'active'">Boton active</span>
</a>

<hr>
<h4>animaciones ccs3</h4>
<a class="boton_transiciones">Transiciones</a>

<div class="clearfix"></div>


<div class="caja_animada">


</div>


<hr>




<p>Utilitzar jquey dintre angular</p>

<button id="botonjq">mostra text</button>
<p id="textojq" class="alert alert-warning">
    asdf adsfa sd fa sdf a sdf a dsf a sdf
</p>

